.App {
  text-align: center;
  max-width: vw;
  max-height: vh;
  overflow: hidden;
  border: 5 px solid red;
}

.timer-container {
  border: 5 px solid red;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}